{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Abstract</h1>
        </header>
        
        <div class="w3-container">
          <p>
            This project presents the recent development in
            automatic vision based technology. Use of this technology is
            increasing in agriculture and fruit industry. An automatic
            fruit quality detection system for sorting and grading of
            fruits and defected fruit detection discussed here. The main
            aim of this system is to replace the manual inspection
            system. This helps in speed up the process improve accuracy
            and efficiency and reduce time. This system collect image
            from camera which is placed on conveyor belt. Then image
            processing is done to get required features of fruits such as
            color and size. Defected fruit is detected based on image
            pixels. Sorting is done based on color and size.
        </p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Introduction</h1>
            </header>
            
            <div class="w3-container">
              <p>
                India is an agriculture country. Different types of fruits
                and vegetables are produced in India. India is at second
                number after china in production fruits. In India all the preharvest and post-harvest process are done manually with
                help of labor. Manual process is very time consuming, less
                efficient so to get accurate result automation in agriculture
                industry is needed. The post- harvest process includes
                sorting and grading of fruits. Different quality factors are
                considered for sorting and grading of fruits. These factors
                are internal quality factors and external quality factors. The
                external quality factors are texture, shape, color ,size and
                volume, and internal quality factors are test, sweetness,
                flavor, aroma, nutrients, carbohydrates present in that
                fruit
            </p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Literature Survey</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        Surprit kaur. Akshay girdhar, and jasmine Gill, Sringer
                        nature singapour 2018[1]. This paper presents a vegetable
                        grading and sorting system based on computer vision and
                        image processing. For this work, tomatoes have been used
                        sample vegetable. A total of 53 images were acquired using
                        own camera setup. Afterward, segmentation using Otsu’s
                        method was performed separate the vegetable from the
                        background. The segmented images, thus obtained, were
                        used to extract color and shape features. At last, grading and
                        sorting were performed using back propagation neural
                        network. The proposed method has shown an accuracy of
                        92% and outperformed the existing system.
                        Deepika Sharma, sharad D. sawant 2017[2], Designed the
                        Grain quality detection system by Image processing system.
                        In this paper, they have proposed a system that determines
                        the quality of food. Initially, the grain samples run on the
                        conveyor belt and then random images of grains are
                        captured by the camera. The image processing algorithm is
                        applied on the grain samples through MATLAB. The
                        classification has been done according to color, shape and
                        size.
                      </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Conclusion</h1>
            </header>
            
            <div class="w3-container">
              <p>
                In this paper automatic vision based system is
                discussed for sorting and grading of fruits based on its
                color and respectively. The test performed on banana for
                defect detection detects defected fruit. And for three
                different qualities good, medium and Low. The variation in
                speed of conveyor and light, camera resolution affects the
                system.
            </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}